.container{
    display: grid;
    grid-template-columns: 100%;
    margin-top: 30px;
}

.component-one{
    align-items: center;
    justify-items: center; 
    grid-column: 1; 
    grid-row: 1;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 5px;
}