<div class="stiba">
    <app-header></app-header>
    <app-title-page>Relatório Stiba</app-title-page>

    <app-title-section>Resultados gerais</app-title-section>
    <app-section-three-stiba>
        <div component-one-content>
            <app-kpi-response>
                <div component-one-content>
                    <h5> de <span>30 687</span> colaboradores no Brasil </h5>
                </div>
            </app-kpi-response>
        </div>
        <div component-two-content>
            <app-kpi-note></app-kpi-note>
        </div>
        <div component-three-content>
            <app-table1>
                <div title-chart>
                    Nota por diretoria
                </div>
            </app-table1>
        </div>
    </app-section-three-stiba>

    <app-title-section>Score dos valores de cultura</app-title-section>
    <app-section-five>
        <div component-one-content>
            <app-score1>
                <div component-one-content>
                    <h5> em <span>compromisso com o cliente</span></h5>
                </div>
            </app-score1>
        </div>
        <div component-two-content>
            <app-score2>
                <div component-one-content>
                    <h5> em <span>responsabilidade</span></h5>
                </div>
            </app-score2>
        </div>
        <div component-three-content>
            <app-score3>
                <div component-one-content>
                    <h5> em <span>confiança</span></h5>
                </div>
            </app-score3>
        </div>
        <div component-four-content>
            <app-score4>
                <div component-one-content>
                    <h5> em <span>coragem</span></h5>
                </div>
            </app-score4>
        </div>
        <div component-five-content>
            <app-score5>
                <div component-one-content>
                    <h5> em <span>entusiasmo</span></h5>
                </div>
            </app-score5>
        </div>
    </app-section-five>

    <app-title-section>Análise por questão do formulário</app-title-section>
    <app-section-two>
        <div component-one-content>
            <app-table2>
                <div title-chart>
                    5 questões com notas mais altas
                </div>
            </app-table2>
        </div>
        <div component-two-content>
            <app-table3>
                <div title-chart>
                    5 questões com notas mais baixas
                </div>
            </app-table3>
        </div>
    </app-section-two>

    <app-section-one>
        <div component-one-content>
            <app-bar-chart>
                <div title-chart>
                    Avaliação de cada diretoria por pergunta

                      <!-- Filtro pergunta adicionado -->
                    <br><br> 
                    <div component-one></div>
                    <app-pergunta></app-pergunta>

                </div>
            </app-bar-chart>
        </div>
    </app-section-one>

    <app-section-one>
        <div component-one-content>
            <app-multi-line-chart>
                <div title-chart>
                    Avaliação de cada pergunta por ano
                </div>
            </app-multi-line-chart>
        </div>
    </app-section-one>

    <app-section-one>
        <div component-one-content>
            <app-table4>
                <div title-chart>
                    Nota por pergunta
                </div>
            </app-table4>
        </div>
    </app-section-one>
</div>