<header class="header">
    <div class="logo-container">
      <img src="../../../assets/logo.png" alt="Logo da Volkswagen">
    </div>
  
    <nav class="navbar">
      <ul>
        <li><a routerLink="/" routerLinkActive="active">Início</a></li>
        <li><a routerLink="/gptw" routerLinkActive="active">GPTW</a></li>
        <li><a routerLink="/stiba" routerLinkActive="active">Stiba</a></li>
        <li><a routerLink="/saude" routerLinkActive="active">Saúde</a></li>
        <li><a routerLink="/gptw-stiba" routerLinkActive="active">GPTW x Stiba</a></li>
        <li><a routerLink="/saude-clima" routerLinkActive="active">Saúde x Clima Empresarial</a></li>
      </ul>
    </nav>
  
    <div class="user-info">
      <span>Bom dia, Ana</span>
      <a routerLink="/perfil">Ver perfil</a>
      <img src="../../../assets/foto-perfil.png" alt="Foto de Perfil">
    </div>
</header>