<div class="gptw">
    <app-header></app-header>
    <app-title-page>Relatório GPTW</app-title-page>
    <app-title-section>Visão geral dos resultados Great Place to Work</app-title-section>
    <app-section-four>
        <div component-one-content>
            <app-kpi-response>
                <div component-one-content>
                    <h5> de <span>13 187</span> colaboradores no Brasil </h5>
                </div>
            </app-kpi-response>
        </div>
        <div component-two-content>
            <app-kpi-note></app-kpi-note>
        </div>
        <div component-three-content>
            <app-kpi-culture></app-kpi-culture>
        </div>
        <div component-four-content>
            <app-enps-score></app-enps-score>
        </div>
    </app-section-four>

    <app-title-section>Comparativo entre áreas</app-title-section>
    <app-section-one>
        <div component-one-content>
            <app-heatmap-chart>
                <div title-chart>
                    Nota de cada área por aspecto do GPTW
<br> 
<br> 
    <!-- Filtro aspect adicionado -->
    <div component-one></div>
        <app-filters-aspect></app-filters-aspect>
                </div>

            </app-heatmap-chart>
        </div>
    </app-section-one>

    <app-section-two>
        <div component-one-content>
            <app-scatter-chart>
                <div title-chart>
                    Frequência de feedback X Índice de confiança
                </div>
            </app-scatter-chart>
        </div>
        <div component-two-content>
            <app-scatter-chart>
                <div title-chart>
                    Frequência de feedback X Segurança psicológica
                </div>
            </app-scatter-chart>
        </div>
    </app-section-two>

    <app-section-one>
        <div component-one-content>
            <app-bar-chart>
                <div title-chart>
                    Satisfação geral dos colaboradores por categoria

                    <br> 
                    <br>
            <!-- Filtro aspect adicionado -->
            <div component-one></div>
                <app-cidf></app-cidf>

                    
                </div>

            </app-bar-chart>
        </div>

    </app-section-one>

    <app-title-section>Comparativo entre áreas</app-title-section>

    <app-section-two>
        <div component-one-content>
            <app-table>
                <div title-chart>
                    5 questões com notas mais altas - GPTW
                </div>
            </app-table>
        </div>
        <div component-two-content>
            <app-table>
                <div title-chart>
                    5 questões com notas mais baixas - GPTW
                </div>
            </app-table>
        </div>
    </app-section-two>
    <app-section-one>
        <div component-one-content>
            <app-table>
                <div title-chart>
                    Nota por pergunta
                </div>
            </app-table>
        </div>
    </app-section-one>

</div>