<div class="average-card">
    <div class="average-title">Nota média das práticas culturais</div>
    <div class="average-score" [ngClass]="{'positive': isPositive, 'negative': !isPositive}">
      {{ score }}
    </div>
    <div class="average-change" [ngClass]="{'positive': isPositive, 'negative': !isPositive}">
      <span class="material-icons">{{ isPositive ? 'arrow_upward' : 'arrow_downward' }}</span>
      {{ changePercent }}% <span>Comparado ao ano passado</span>
    </div>
    <div class="average-detail">
      <span>{{ majorPracticeName }}</span> foi a maior prática, com <span>{{ majorPracticeValue }}%</span>
    </div>
</div>