.titleTable {
    display: flex; /* Isso define o container como um flex container */
    align-items: center; /* Isso alinha os itens verticalmente no centro */
    justify-content: space-between; /* Isso define o espaço entre os itens */
}