<div class="home">
    <app-header></app-header>
    <app-title-page>Visão Geral</app-title-page>

    <app-title-section>Resultados Great Place To Work</app-title-section>

    <app-section-four>
        <div component-one-content>
            <app-kpi-response>
                <div component-one-content>
                    <h5> de <span>13 187</span> colaboradores no Brasil </h5>
                </div>
            </app-kpi-response>
        </div>
        <div component-two-content>
            <app-kpi-note></app-kpi-note>
        </div>
        <div component-three-content>
            <app-kpi-culture></app-kpi-culture>
        </div>
        <div component-four-content>
            <app-enps-score>
            </app-enps-score>
        </div>
    </app-section-four>

    <app-title-section>Resultados Stiba</app-title-section>
    <app-section-two>
        <div component-one-content>
            <app-table>
                <div title-chart>
                    5 questões com notas mais altas
                </div>
            </app-table>
        </div>
        <div component-two-content>
            <app-table>
                <div title-chart>
                    5 questões com notas mais baixas
                </div>
            </app-table>
        </div>
    </app-section-two>
    <app-title-section>Monitoramento da área</app-title-section>

    <app-section-two>
        <div component-one-content>
            <app-line-chart>
                <div title-chart>
                    Quantidade de atestados por mês
                </div>
            </app-line-chart>
        </div>
        <div component-two-content>
            <app-column-chart>
                <div title-chart>
                    Média de dias abonados por mês
                </div>
            </app-column-chart>
        </div>
    </app-section-two>

    <app-section-three>
        <div component-one-content>
            <app-table>
                <div title-chart>
                    5 principais doenças e problemas da área
                </div>
            </app-table>
        </div>
        <div component-two-content>
            <app-table>
                <div title-chart>
                    5 principais causas de doenças/problemas
                </div>
            </app-table>
        </div>
        <div component-three-content>
            <app-column-chart>
                <div title-chart>
                    Média de dias abonados por mês
                </div>
            </app-column-chart>
        </div>
    </app-section-three>
</div>